:root {
    --header: #FB6100;
    --basketBg: grey;
    --basketButton: #125FCA;
    --background: #FFFFFF;
    --categoriebg: #F8F5F2;
    --textcolor: #999999;
    --textDishes: #0A3847;
    --textcolorHeader: #ffffff;
}


/* TESTETSTETSETSTETSTEST*/

.testbutton {
    position: absolute;
    left: 10%;
    top: 10%;
    z-index: 9999;
    color: red;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}


/* TETSTETSTESTETSTETSETSTETS */

body {
    margin: 0;
}

p {
    margin: 0;
}

header {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header);
}

.headerLogo {
    display: flex;
    align-items: center;
    color: var(--textcolorHeader);
    font-size: 24px;
}

.headerLogo p {
    font-weight: bold;
}

.headerLogo img {
    width: 50px;
    margin-right: 20px;
}

.headerAdress {
    font-size: 20px;
    color: #FFFFFF;
    border-bottom: 3px solid var(--textcolorHeader);
}

.headerAdress a {
    text-decoration: none;
    color: var(--textcolorHeader);
}

.headerNav {
    display: flex;
    align-items: center;
}

.navLanguages img {
    border-radius: 100%;
    border: 3px solid white;
    height: 25px;
    width: 25px;
    object-fit: contain;
}

.navMenu {
    margin-left: 20px;
}

.navMenu img {
    height: 30px;
    width: 30px;
    object-fit: contain;
}


/*Content Main*/

.contentMain {
    display: flex;
    justify-content: space-between;
    min-height: 92vh;
}


/* Seller Main */

.sellerMain {
    /* margin-left: 230px;
    margin-right: 230px; */
    display: flex;
    flex-direction: column;
    width: 80%;
    position: relative;
}

.sellerHeaderImg {
    /*  position: absolute;
    left: 0%;
    width: 100%; */
}

.sellerHeaderImg img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: 90% 40%;
}

.sellerHeaderLogo {
    background-color: var(--background);
    border: 1px solid var(--textcolor);
    border-radius: 100%;
    position: absolute;
    left: 49%;
    top: 12vh;
    width: 150px;
    height: 150px;
}

.sellerHeaderLogo img {
    position: relative;
    left: 20px;
    top: 50px;
    width: 120px;
}

.sellerInfos {
    margin-left: 230px;
    margin-right: 230px;
    display: flex;
    justify-content: space-between;
    font-size: 28px;
    color: var(--textDishes);
    align-items: center;
}

.sellerName {
    display: flex;
    flex-direction: column;
}

.rating {
    display: flex;
    height: 20px;
    font-size: 14px;
    align-items: center;
    justify-content: flex-start;
    gap: 2px;
}

.rating a {
    color: var(--header);
    margin-left: 10px;
}

.rating img {
    object-fit: contain;
    height: 20px;
}

.deliverInfos {
    display: flex;
    font-size: 16px;
    color: var(--textcolor);
    gap: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    align-items: center;
}

.deliverInfos img {
    height: 24px;
    object-fit: contain;
}

.sellerDescription {
    font-size: 14px;
    color: var(--textcolor);
}

.sellerButtons {
    display: flex;
    justify-content: center;
}

.sellerButtons img {
    border: 1px solid var(--textcolor);
    padding: 15px;
    height: 16px;
    object-fit: contain;
}

.sellerButtons a {
    text-decoration: none;
}

.sellerCatMain {
    position: sticky;
    top: 0;
    z-index: 1;
}

.sellerCategories {
    height: 60px;
    font-size: 18px;
    margin-bottom: 15px;
    gap: 20px;
    display: flex;
    top: 0;
    justify-content: center;
    align-items: center;
    background-color: var(--categoriebg);
}

.sellerCategories a {
    color: var(--textDishes);
    text-decoration: none;
}

.sellerCategories img {
    height: 26px;
    width: 26px;
}

.sellerDishesContent {
    margin-left: 230px;
    margin-right: 230px;
}

.dishesCategorieFD {
    background-color: var(--categoriebg);
    font-size: 20px;
    padding: 15px;
    color: var(--textDishes);
}

.dishesSingleDish {
    border: 1px solid var(--textcolor);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    color: var(--textcolor);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100px;
}

.singledishInfo {
    font-size: 14px;
}

.singledishName {
    color: var(--textDishes);
    font-weight: bold;
    font-size: 20px;
}

.singledishPrice {
    color: var(--header);
    font-weight: bold;
}

.singledishAmount {
    position: absolute;
    right: 0;
    top: 0;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-left: 1px solid var(--textcolor);
    border-bottom: 1px solid var(--textcolor);
    cursor: pointer;
}

.dishesCategories img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.categoriesName {
    padding: 15px;
    font-size: 20px;
    background-color: var(--categoriebg);
    color: var(--textDishes);
}


/* Basket Main*/

.basketMain {
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
    border-left: solid 1px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    background-color: var(--background);
}

.basketHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    height: 5%;
    font-weight: bold;
    z-index: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--background);
}

.basketContents {
    position: sticky;
    top: 5%;
    overflow: scroll;
    overflow-x: hidden;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    max-height: 700px;
}

.contentsCard {
    height: 100px;
    min-height: 100px;
    margin: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cardContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

.cardAmount {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
}

.cardText {
    gap: 13px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardTop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.cardTop a {
    color: var(--basketButton);
    font-size: 14px;
}

.cardBottom {
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 5px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cardBtn {
    display: flex;
    gap: 1px;
    padding-bottom: 10px;
}

.cardBtn button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
}

.cardBottom a {
    font-size: 14px;
}

.basketPayment {
    position: sticky;
    bottom: 0;
    background-color: var(--background);
    color: var(--textDishes);
    height: 15%;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paymentList {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.paymentList div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.paymentList p {
    margin-top: 10px;
}

.listWholeSum {
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    font-weight: bold;
}

.paymentButton {
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 50px;
    width: 260px;
    height: 60px;
    color: var(--textcolorHeader);
    background-color: var(--basketButton);
}


/* Footer Maim*/

footer {
    height: 12vh;
    background-color: blue;
}