:root {
    --header: orange;
    --basketBg: ;
    --basketButton: blue;
    --background: #FFFFFF;
    --categoriebg: ;
    --textcolor: #ffffff;
}

body {
    margin: 0;
}

header {
    height: 8vh;
    display: flex;
    justify-content: space-between;
    background-color: orange;
}

.headerLogo {
    display: flex;
    align-items: center;
}


/*Content Main*/

.contentMain {
    display: flex;
    justify-content: space-between;
    min-height: 92vh;
    height: 200vh;
}


/* Seller Main */

.sellerMain {
    margin-left: 250px;
    margin-right: 250px;
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: rgb(124, 99, 52);
}


/* Basket Main*/

.basketMain {
    border-left: solid 1px black;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100vh;
}

.basketHeader {
    border-bottom: solid 1px black;
    position: sticky;
    top: 0;
    height: 5%;
    text-align: center;
    font-weight: bold;
    z-index: 1;
}

.basketContents {
    position: sticky;
    top: 5%;
    overflow: scroll;
    overflow-x: hidden;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    max-height: 70%;
}

.basketPayment {
    position: sticky;
    top: 65%;
    background-color: var(--background);
    height: 15%;
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paymentList {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.paymentList div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.paymentButton {
    width: 260px;
    height: 60px;
    color: var(--textcolor);
    background-color: var(--basketButton);
}


/* Footer Maim*/

footer {
    height: 12vh;
    background-color: blue;
}